# Rust CMS Backend

target/
Cargo.lock
.env
keys/
repo-mirror/
backups

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep
.env

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
# Log files (temporary)
*.log
